{{- define "footer" -}}
<footer class="fixed h3 bottom-0 w-100 bt b--black bg-white z-999 closed" id="footer">
	<div class="absolute top-0 h3 w-100 z-3 bg-white" id="chicharra-container">
		<div class="flex top-0 items-center h-100 w-100 justify-center">
			<img src="/img/lachicarra.svg" alt="page logo representing the Chicharra" class="db h-75" id="chicharra" style="cursor: pointer;">
		</div>
	</div>
	<div class="welcome-wrapper flex justify-center relative" style="height: 100vh;">
		<div class="gradient-overlay absolute w-100 h3 z-2" style="background: linear-gradient(to bottom, white, transparent);"></div>
		<div class="ml2 mr2 overflow-y-scroll pt6 intro-text z-1">
			<div>
				{{- $pages := .Site.GetPage "section" "pages" -}}
                {{- range $pages.Pages -}}
                    {{- if eq .Title "About" -}}
                        {{- .Content -}}
                    {{- end -}}
                {{- end -}}
			</div>
		</div>
	</div>
</footer>

{{- end -}}


