<nav class="fixed-m top-0 w-100 flex justify-between h3 items-center center bg-white bb z-999">
    <!-- Logo -->
    <a href="/" class="db mr4 pl3">
       <div>Visions of a Disappearing World</div>
    </a>

        <!-- Language Selector -->
        <div class="flex text-dark mr3">
            <select class="h2 w4 pa1 bt bb bl br pl2 pr2 f6 bg-white normal b--black" name="languages" id="languages">
                <option value="English">English</option>
            </select>
        </div>

    <div class="flex text-dark mr3">
        <div class="h2 pa1 bt bb bl br pl2 pr2 f6 bg-white normal b--black" name="languages" id="languages">
            add a new species
        </div>
    </div>

    <div class="flex text-dark mr3">
        <div class="h2 pa1 bt bb bl br pl2 pr2 f6 bg-white normal b--black" name="languages" id="languages">
            add a new representation
        </div>
    </div>



</nav>
  


