.b--primary {
  border-color: var(--primary);
}

.b--secondary {
  border-color: var(--secondary);
}

.b--highlight {
  border-color: --var(--highlight);
}

.b--white {
  border-color: var(--white);
}

.b--off-white {
  border-color: var(--off-white);
}

.b--black {
  border-color: var(--black);
}