/* Text colors */

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.highlight {
  color: var(--highlight);
}

.white {
  color: var(--white);
}

.off-white {
  color: var(--off-white);
}

.black {
  color: var(--black);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-highlight {
  background-color: var(--highlight);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-white {
  background-color: var(--white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.bg-black {
  background-color: var(--black);
}

.bg-fix-primary {
  padding: 0 var(--spacing-small);
  & :first-child {
    box-shadow: var(--spacing-small) 0 0 var(--primary), -var(--spacing-small) 0 0 var(--primary);
  }
}