$fade-duration: 5s; /* align the with the fade interval in the javascript at src/js/index.js */

.dropdown-add:hover {
  filter: opacity(1);
  display: block;
}

.dropdown-add {
  filter: opacity(0);
  display: none;
  position: absolute;
  right: 0rem;
  top: 3rem;
  transition: filter 0.5s ease; /* Optional: for a smooth transition */
}

.plusBtn:hover + .dropdown-add {
  filter: opacity(1);
  display: block;
}

.plusBtn:hover {
  color: var(--white);
  background-color: var(--black);
  stroke: var(--white); 
}

.plusBtn {
  font-weight: var(--body-font-weight);
}

#plusPath {
  stroke: var(--black);
}

  ::-webkit-scrollbar {
    display: none;
}

.title {
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0 0.05em black;
}

.title-white {
  text-shadow: 0.05em 0 white, 0 0.05em white, -0.05em 0 white, 0 -0.05em white, -0.05em -0.05em white, -0.05em 0.05em white, 0.05em -0.05em white, 0 0.05em white;
}

 .speciesli .has-rep {
  display: none;
}



.morphing-path {
  transition: d 5s linear;
}

#morphing-path {
  transition: d 5s linear;
}




.rep-info, .name-info {
  transition: transform 0.5s ease;
}

.rep-info {
  transform: translateY(100%); /* Start below the view */
}

.name-info {
  transform: translateY(-100%); /* Start above the view */
}

.speciesli:hover .rep-info {
  transform: translateY(0); /* Move into view on hover */
}

.speciesli:hover .name-info {
  transform: translateY(0); /* Move into view on hover */
}


.fade-in {
  animation: fadeIn ease $fade-duration;
  -webkit-animation: fadeIn ease $fade-duration;
  -moz-animation: fadeIn ease $fade-duration;
  -o-animation: fadeIn ease $fade-duration;
  -ms-animation: fadeIn ease $fade-duration;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8); // Start the animation from a slightly smaller size
    filter: blur(40px);
  }
  100% {
    opacity: 1;
    transform: scale(1); // Scale back to original size
    filter: blur(0px);
  }
}

.fade-out {
  animation: fadeOut ease $fade-duration;
  -webkit-animation: fadeOut ease $fade-duration;
  -moz-animation: fadeOut ease $fade-duration;
  -o-animation: fadeOut ease $fade-duration;
  -ms-animation: fadeOut ease $fade-duration;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1); // Start from the original size
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: scale(0.8); // Shrink a bit as it fades out
    filter: blur(40px);
  }
}

.edit-button {
  letter-spacing: .1rem;
  font-weight: var(--bold-font-weight);
  font-size: var(--font-size-button);
}

.edit-button:hover {
  color: var(--white);
  background-color: var(--black);
}

.gradient-overlay {
  top: var(--spacing-extra-large);
  pointer-events: none; /* Ensures clicks go through the pseudo-element */
}

/* Hide all paragraphs initially */
#welcomeTexts p {
  display: none;
  opacity: 0;
  transition: opacity 2s; /* Smooth transition for fading out */
}

/* Style for the moving chicharra image */
#welcomeChicharra {
  transition: transform 4s ease-in; /* Smooth transition for moving the image */
}
