.inView {
    transition: background-color 2s ease, border-color 2s ease;
/*    border-color: var(--black);  */
    div {
        p {
            transition: color 2s ease;
            color: var(--white);
        }
        h2 {
            transition: color 2s ease;
            color: var(--white);           
        }
    }
  }

  ::-webkit-scrollbar {
    display: none;
}

  .rep-info, .name-info {
    transition: transform 0.5s ease;
  }
  
  .rep-info {
    transform: translateY(100%); /* Start below the view */
  }
  
  .name-info {
    transform: translateY(-100%); /* Start above the view */
  }
  
  .speciesli:hover .rep-info {
    transform: translateY(0); /* Move into view on hover */
  }
  
  .speciesli:hover .name-info {
    transform: translateY(0); /* Move into view on hover */
  }
