$fade-duration: 5s; /* align the with the fade interval in the javascript at src/js/index.js */

html {
  font-size: var(--font-size);
}

@media (min-width: 768px) {
  html {
  font-size: var(--font-size-m);
  }
}

@media (min-width: 1024px) {
  html {
  font-size: var(--font-size-l);
  }
}

.dropdown-add:hover {
  filter: opacity(1);
  display: block;
}

.dropdown-add {
  filter: opacity(0);
  display: none;
  position: absolute;
  right: 0rem;
  top: 3rem;
  transition: filter 0.5s ease; /* Optional: for a smooth transition */
}

.plusBtn:hover + .dropdown-add {
  filter: opacity(1);
  display: block;
}

.plusBtn:hover {
  color: var(--white);
  background-color: var(--black);
  stroke: var(--white); 
}

.plusBtn {
  font-weight: var(--body-font-weight);
}

#plusPath {
  stroke: var(--black);
}

  ::-webkit-scrollbar {
    display: none;
}

.title {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
}

 .speciesli .has-rep {
  display: none;
}



.morphing-path {
  transition: d 5s linear;
}

#morphing-path {
  transition: d 5s linear;
}




.rep-info, .name-info {
  transition: transform 0.5s ease;
}

.rep-info {
  transform: translateY(100%); /* Start below the view */
}

.name-info {
  transform: translateY(-100%); /* Start above the view */
}

.speciesli:hover .rep-info {
  transform: translateY(0); /* Move into view on hover */
}

.speciesli:hover .name-info {
  transform: translateY(0); /* Move into view on hover */
}

.speciesli > a > img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


.fade-in {
  animation: fadeIn ease $fade-duration;
  -webkit-animation: fadeIn ease $fade-duration;
  -moz-animation: fadeIn ease $fade-duration;
  -o-animation: fadeIn ease $fade-duration;
  -ms-animation: fadeIn ease $fade-duration;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8); // Start the animation from a slightly smaller size
    filter: blur(40px);
  }
  100% {
    opacity: 1;
    transform: scale(1); // Scale back to original size
    filter: blur(0px);
  }
}

.fade-out {
  animation: fadeOut ease $fade-duration;
  -webkit-animation: fadeOut ease $fade-duration;
  -moz-animation: fadeOut ease $fade-duration;
  -o-animation: fadeOut ease $fade-duration;
  -ms-animation: fadeOut ease $fade-duration;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1); // Start from the original size
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: scale(0.8); // Shrink a bit as it fades out
    filter: blur(40px);
  }
}

.edit-button {
  letter-spacing: .1rem;
  font-weight: var(--bold-font-weight);
  font-size: var(--font-size-button);
}

.edit-button:hover {
  color: var(--white);
  background-color: var(--black);
}

.gradient-overlay {
  top: var(--spacing-extra-large);
  pointer-events: none; /* Ensures clicks go through the pseudo-element */
}

/* Hide all paragraphs initially */
#welcomeTexts p {
  display: none;
  opacity: 0;
  transition: opacity 2s; /* Smooth transition for fading out */
}

/* Style for the moving chicharra image */
#welcomeChicharra {
  transition: transform 4s ease-in; /* Smooth transition for moving the image */
}

.aboutContent {
  overflow: hidden;
  transition: height 1s ease-in-out; /* Ensure this line is correctly set */
  height: 0; /* Initial state */
}

a:focus {
  border: none;
}

#gallery {
  width: 100%;
  position: relative; /* Needed to position the pseudo-elements */
  overflow: hidden; /* Ensures the overlay does not extend outside the gallery */
}

#gallery::before, #gallery::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%; /* Overlay width set to 25% of the gallery container */
  z-index: 2; /* Make sure it overlays the images */
  pointer-events: none; /* Allows clicks to pass through the overlay */
}

#gallery::before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

#gallery::after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.gallery-item {
  position: relative;
  z-index: 1; /* Below the overlay, above the container */
  display: inline-block;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  filter: grayscale(1);
}

.gallery-item > div {
  filter: opacity(0.4);
}


.centered {
  transition: transform 1s ease-in-out; /* Smooth transition for scaling */
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Blurs the content behind the overlay */
}

.fullscreen-overlay img {
  width: 90%;
  max-height: 90%;
  object-fit: contain; /* This will ensure the image is scaled correctly within the overlay */
}



