{{- define "main" -}}

<div class="mw9 center mt5 mb5 min-vh-100">
  <div class="flex flex-wrap mhn1 pa3 justify-center">

    <!-- Image container -->
    <div id="image-container" class="w-100 flex justify-center pa3">
      {{- .Render "hasRep" -}}
      {{- $hasRepresentation := .Scratch.Get "hasRepresentation" -}}
      <img class="mht6" src="{{ .Scratch.Get "imgPath" }}" alt="" onclick="toggleFullScreen(this)">
    </div>

    {{- .Render "englishName" -}}
    {{- $englishName := .Scratch.Get "englishName" | title -}} 
    {{- $otherName := .Scratch.Get "otherName" | title -}}

    {{- .Render "colorPathCalc" -}}

    <!-- Content container -->
    <div id="content-container" class="w-100 flex flex-column items-center justify-center pa3">

      <!-- SVG and Title -->
      <div class="svg-container tc w-100 mb3 mt3">
        <svg width="350px" height="150px" xmlns="http://www.w3.org/2000/svg" style="filter:blur(20px)">
            <path fill="transparent" stroke="{{- .Page.Params.color -}}" stroke-width="100" class="morphing-path" d="{{- .Scratch.Get "svgPath" -}}"></path>
          </svg>     
        <h1 class="f2 title --font-family-title comp-color" style="color: {{- .Params.color -}}; margin-bottom: -1rem; transform: translateY(-5rem);">
          {{- if $englishName -}} {{- $englishName -}}{{- else -}}{{- $otherName -}}{{- end -}}
        </h1>   
      </div>

      <!-- Additional Info -->
      <div class="info-container pa3">
        <ul class="f6 list pl0">
          {{- range .Params.languages -}}
            {{- $currentLanguage := .language }} <!-- Capture the current language in a variable -->
            {{- with .names -}} <!-- Ensure .names exists and is a slice -->
              <li>
                <strong>{{ $currentLanguage }}:</strong> <!-- Use the captured language variable -->
                {{- range . -}} <!-- Now this ranges over the names -->
                  <span>{{ . | title }}</span>
                  {{- if not (eq (index . (sub (len .) 1)) .) }}{{ end }} <!-- Corrected context for names slice -->
                {{- end -}}
              </li>
            {{- end -}}
          {{- end -}}
        </ul>
        
              
        <div class="mt3 f6">
          {{- if .Content -}}
            <p>{{ .Content }}</p>
          {{- else -}}
            <p>No description available.</p>
          {{- end -}}
        </div>
      </div>
      
    </div>

  </div>
</div>

<script>
  function toggleFullScreen(imgElement) {
  if (!document.fullscreenElement) {
    imgElement.requestFullscreen().catch(err => {
      alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
    });
  } else {
    if (document.exitFullscreen) {
      document.exitFullscreen();
    }
  }
}
</script>

{{- end -}}


