<!-- layouts/shortcodes/complimentaryColor.html -->
{{ $color := .Page.Params.color | strings.TrimPrefix "#" }}
{{ $rHex := substr $color 0 2 }}
{{ $gHex := substr $color 2 2 }}
{{ $bHex := substr $color 4 2 }}

{{ $rInt := int (printf "0x%s" $rHex) }}
{{ $gInt := int (printf "0x%s" $gHex) }}
{{ $bInt := int (printf "0x%s" $bHex) }}

{{ $rComp := printf "%02x" (sub 255 $rInt) }}
{{ $gComp := printf "%02x" (sub 255 $gInt) }}
{{ $bComp := printf "%02x" (sub 255 $bInt) }}

{{ $complimentaryColor := print "#" $rComp $gComp $bComp }}


{{ $width := 250.0 }}
{{ $height := 250.0 }}
{{ $minControlX := 10.0 }}
{{ $maxControlX := 445.0 }}
{{ $minControlY := 10.0 }}
{{ $maxControlY := 150.0 }}
{{ $variance := 10.0 }}

{{/* Shuffle an array of numbers from 1 to 9 */}}
{{ $numbers := shuffle (seq 1 9) }}

{{/* Use the first two numbers from the shuffled array for randomness */}}
{{ $randX := div (float (index $numbers 0)) 9.0 }}
{{ $randY := div (float (index $numbers 1)) 9.0 }}

{{/* Calculate the random control points within the allowed variance */}}
{{ $controlX := add (mul (sub $maxControlX $minControlX) $randX) $minControlX }}
{{ $controlY := add (mul (sub $maxControlY $minControlY) $randY) $minControlY }}

{{/* Introduce additional randomness to the control points using variance */}}
{{ $controlX = add $controlX (mul (sub (mul $randX 2) 1) $variance) }}
{{ $controlY = add $controlY (mul (sub (mul $randY 2) 1) $variance) }}

{{/* Generate the SVG path with the computed control points */}}
{{ $path := printf "M100 220 Q %.2f %.2f, 145 80 T %.2f %.2f" $controlX $controlY $width $height }}



<div class="absolute bgstroke top-0 left-0 w-100 h-100" style="filter: blur(20px);">
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    <path fill="{{ $complimentaryColor }}" stroke="{{ $complimentaryColor }}" stroke-width="100" d="{{ $path }}" class="path absolute top-0"></path>
</svg>
</div>  




