<div class="fixed top-0 left-0 w-100 ph5-ns vh-100 bg-white z-9999" id="welcomeMessage">
    <div class="flex flex-column h-100 w-100 items-center justify-center pt5 pb3">
        <div id="welcomeChicharra" class="w5 fixed top-5">
            <img src="/img/lachicarra.svg" alt="">
        </div>
        <div id="welcomeTexts" class="flex items-center justify-center w-100 overflow-normal tc Z-3" style="transform: translateY(-150px);;">
            
            <p>In movies, when the cicadas stop chirping, it means that something is wrong.</p>
            <p>In the real world, the cicadas have stopped chirping.</p>
            <p>Welcome to LaChicharra.com where you can take part in naming and representing the endangered species of our world.</p>
            <p>La Chicharra will guide you.</p>
            <p>She will rest at the bottom of your screen where you can click on her to learn more about the project and how to get involved.</p>
        </div>
        <div id="welcomeClose" class="absolute top-2 right-2 w2 h2 f4 bb bt bl br pa1 flex justify-center items-center pointer"><img style="transform: rotate(45deg);"  src="img/plus.svg" alt="an X close button"></div>
        <script>
            function closeWelcomeMessage() {
                document.getElementById('welcomeMessage').style.display = "none";
            }
            document.getElementById('welcomeClose').addEventListener("click", closeWelcomeMessage );
        </script>
    </div>
</div>